.form-default {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary);
    background-color: var(--bg);
    border-radius: 0;
    height: 50px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-default:focus {
    border-color: var(--secondary);
    outline: none;
    border: 2px solid var(--secondary);
}

.form-default::placeholder {
    color: var(--primary);
}